{deps, [
  {mochiweb, "2.13.1", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.13.1"}}},
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
]}.
{erl_opts, [debug_info,{parse_transform, lager_transform}]}.
{relx, [{release, {my_rel, "0.0.1"},
  [erlsocketserver]},

  {include_erts, true},
  {sys_config, "priv/app.config"},


{extended_start_script, true}]}.